<div>
  <button
    (click)="onClick('Guerrier')"
    [ngClass]="{ active: currentRole === 'Guerrier' }"
  >
    Guerrier
  </button>
  <button
    (click)="onClick('Alchimiste')"
    [ngClass]="{ active: currentRole === 'Alchimiste' }"
  >
    Alchimiste
  </button>
  <button
    (click)="onClick('Sorcier')"
    [ngClass]="{ active: currentRole === 'Sorcier' }"
  >
    Sorcier
  </button>
  <button
    (click)="onClick('Espion')"
    [ngClass]="{ active: currentRole === 'Espion' }"
  >
    Espion
  </button>
  <button
    (click)="onClick('Enchanteur')"
    [ngClass]="{ active: currentRole === 'Enchanteur' }"
  >
    Enchanteur
  </button>
</div>
