section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

span {
  background-color: rgb(247, 247, 247);
}

button {
  width: 120px;
  height: 40px;
  background-color: #585858;
  color: #e0eafc;
  font-size: 1.2rem;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
    color: yellow;
  }
}

.container {
  background-color: #585858;
  padding: 0.3rem 1.2rem;
  border-radius: 15px;
  margin: 1rem 0;
}

.card {
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
}

span {
  margin: 1.2rem 1rem;
  width: 210px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
