<main>
  <h1>Bienvenue {{ pangolinName }}</h1>
  <section class="section-self">
    <div class="container">
      <button (click)="toggleRole()" class="btn">Changez votre role</button
      ><button (click)="disconnect()" class="disconnect-btn btn">
        Déconnexion
      </button>
    </div>

    <app-selector-role *ngIf="showRole"></app-selector-role>
  </section>
  <section class="section-social">
    <app-users></app-users><app-friends></app-friends>
  </section>
  <app-signup [doBoth]="true"></app-signup>
</main>
<!-- (newFriend)="onNewFriend($event)" -->
<!-- [newFriend]="newFriend" -->
